<%= form_for(@user) do |f| %>
   <%= f.text_field :email, :placeholder => 'email' %>
   <%= f. password_field :password, :placeholder => 'password' %>
   <%= f.password_field :password_confirmation, :placeholder => 'password_confirmation' %>
   <%= f.select(:role, ['employee', 'supervisor','super_admin'], {}) %>
   <%= f.submit %>
<% end %>
